:root{
    --verde-tiffany: rgb(10, 186, 181);
    --verde-tiffany-atenuada: rgb(252, 182, 220);
}

header{
    padding: 25px;
    background-color: rgb(133, 66, 4);
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
    color: rgba(255, 254, 255, 0.877);
    border-bottom: 3px solid white;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
}

span{
font-size: 45px;
}

h3{
    background-color: rgba(136, 53, 5, 0.795);
    color: white;
    font-size: 35px;
    text-align: center;
}

li{
    list-style: none;
    padding: 35px;
    text-align: center;
}

ul{
    display: flex;
    flex-direction: row;
}

td{
    font-size: 26px;
}

p{
    font-size: 28px;
}

table{
    width: 100%;
}

aside {
    margin-top: 580px;
    height: 90rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

main{
    margin-top: 100px;
    background-color: var(--verde-tiffany-atenuada);
    width: 50%;
    height: 60rem;
}

section{
    margin-top: 10px;
    width: 100%;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 55rem;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

footer {
    width: 100%;
    text-align: center;
    position:static;
    bottom:0;
    left:0;
    background-color: var(--verde-tiffany-atenuada);
}

.content{
    border-radius: 5px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--verde-tiffany-atenuada);
}

.first-line{
    font-weight: bold;
    font-size: 25px;
}


.cakes-for-size{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.carrot-cake, .pool-cake{
    text-align: center;
}

.price{
width: 10%;
}

.description{
    width: 65%;
}

.flavor{
    width: 20%;
}

.cake-slice{
    text-align: center;
    line-height: 1.5;
}

img{
    width: 240px; 
    height: 281px;
    border-radius: 5px;
    
}

.birthday-cake{
    text-align: center
}

.logo{
    width: 200px;
    height: 200px;
}